APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost:8000
FRONTEND_URL=http://localhost:3000

# APP CONFIGURATION
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

# LOG CONFIGURATION
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# Local Postgres DB - Local
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=postgres_local
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=redis

# CACHE CONFIGURATION
CACHE_DRIVER=redis
CACHE_STORE=redis
MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211

# REDIS CONFIGURATION
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_QUEUE='emails'

# MAIL CONFIGURATION
MAIL_MAILER=smtp
MAIL_HOST=*
MAIL_PORT=587
MAIL_USERNAME=*
MAIL_PASSWORD=*
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="test@test.com"
MAIL_BCC="test@test.com"
MAIL_FROM_NAME="${APP_NAME}"

# NOTIFICATION EMAIL RECIPIENTS
CABIN_INVENTORY_INTEGRITY_REPORT_RECIPIENTS=*

# AWS S3 CONFIGURATION
AWS_ACCESS_KEY_ID=*
AWS_SECRET_ACCESS_KEY=*
AWS_DEFAULT_REGION=us-west-2
AWS_BUCKET=*
AWS_URL=*
AWS_ASSETS_CDN=*
AWS_USE_PATH_STYLE_ENDPOINT=true

# INITIAL EVENT DATA
ORGANIZATION_ID=1
SUPER_ADMIN_PASSWORD=*
ADMIN_PASSWORD=*
DEFAULT_PASSWORD=*

# Time for temporary reservation in minutes,
# to avoid problems add one minute more than the actual time on frontend
TEMPORARY_RESERVATION_TIME=20

# Time for agents to work on the reservation in minutes
SESSION_EXPIRATION_MINUTES=10

# REVERB
REVERB_APP_ID=*
REVERB_APP_KEY=*
REVERB_APP_SECRET=*
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

#VITE
VITE_APP_NAME="${APP_NAME}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
VITE_API_BASE_URL="${APP_URL}"
VITE_FRONTEND_URL="${FRONTEND_URL}"

MIX_REVERB_PORT="${REVERB_PORT}"
MIX_REVERB_SCHEME="${REVERB_SCHEME}"

#TELESCOPE
TELESCOPE_ENABLED=true

# Slack
SLACK_BOT_USER_OAUTH_TOKEN=*
SLACK_BOT_USER_DEFAULT_CHANNEL=*
SLACK_BOOKING_ENGINE_NOTIFICATIONS=*

#Bank Information
BANK_HOLDER=*
BANK_HOLDER_ADDRESS_1=*
BANK_HOLDER_ADDRESS_2=*
BANK_HOLDER_ADDRESS_3=*

BANK_NAME=*
BANK_BRANCH_ADDRESS_1=*
BANK_BRANCH_ADDRESS_2=*
BANK_BRANCH_ADDRESS_3=*

BANK_ACCOUNT_NO=*
BANK_ROUTING=*
BANK_SWIFT=*

# External Endpoints Security
NOTIFICATION_ALLOWED_DOMAINS=*
LAMBDA_WEBHOOK_TOKEN=*

HORIZON_PROMETHEUS_EXPORTER_ENABLED=true

# Electron Token APP
ADMIN_DEVICE_TOKEN=*

# GENERATED PASSWORD - NextJS PKCE Frontend
PASSPORT_CLIENT_ID=*