{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "phpVersion": "8.2",
        "tabWidth": 4,
        "singleQuote": true,
        "trailingCommaPHP": true,
        "braceStyle": "1tbs"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
