{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
